<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Department</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{departmentData.name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="mb-3">Employees</h5>
                            <div class="employee-list">
                                <app-list-group [listData]="departmentEmployees"
                                    (rowClicked)="openEmployee($event)"></app-list-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <app-chart [chartData]="teamRevenueChart"></app-chart>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center" [routerLink]="['/employees/employee', departmentTeamLeader.id]">
                    <img [src]="getEmployeeImage(departmentTeamLeader.gender)" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 100px;">
                    <h5 class="my-3">{{departmentTeamLeader.firstName}} {{departmentTeamLeader.lastName}}</h5>
                    <p class="text-muted mb-1">{{departmentTeamLeader.email}}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <div class="project-list">
                        <app-list-group [listData]="departmentProjects">
                        </app-list-group>
                    </div>
                </div>
            </div>
        </div>
    </div>